{{setPageTitle "Search"}}

<section class="crypto-search">
    <h1>Search</h1>

    <form class="search-form" method="get">
        <input type="text" class="search-coin" name="name" placeholder="Search here..." value="{{name}}">
        <select id="payment" name="payment">
            {{#each types}}
                <option value="{{value}}" {{selected}}>{{label}}</option>
            {{/each}}
        </select>
        <button type="submit" class="btn-search">Search</button>
    </form>

    {{#if cryptos}}
        <div class="search-result">
            {{#each cryptos}}
                {{> crypto}}
            {{/each}}
        </div>
    {{else}}
        <div class="no-match">
            <p>No match was found!</p>
        </div>
    {{/if}}
</section>