{{setPageTitle "Product's Details - GlowAlchemy"}}

<article class="product-detail">
    <img src="{{cosmetic.image}}">
    <h2>{{cosmetic.name}}</h2>
    <p>{{cosmetic.description}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Key Ingredients:</h3>
    <p>{{cosmetic.ingredients}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Benefits:</h3>
    <p>{{cosmetic.benefits}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Skin Type:</h3>
    <p>Suitable for: {{cosmetic.skin}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Price: ${{cosmetic.price}}</h3>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>People Who Recommend: {{cosmetic.recommendedList.length}}</h3>
</article>

{{#if user}}
    <div class="command">
        {{#if isOwner}}
            <a href="/cosmetics/{{cosmetic.id}}/edit">Edit</a>
            <a href="/cosmetics/{{cosmetic.id}}/delete">Delete</a>
        {{else}}
            {{#if isRecommend}}
                <p>You've already recommended this product!</p>
            {{else}}
                <a href="/cosmetics/{{cosmetic.id}}/recommend">Recommend</a>
            {{/if}}
        {{/if}}
    </div>
{{/if}}