{{setPageTitle "Search"}}

<section class="volcano-search">
    <h1>Search</h1>

    <form class="search-form" method="get">
        <input type="text" class="search-volcano" name="nameOfTheVolcano" placeholder="Search by Name..." value="{{nameOfTheVolcano}}">
        <select id="type" name="typeOfVolcano">
            {{#each volcanoTypes}}
                <option value="{{label}}" {{selected}}>{{value}}</option>
            {{/each}}
        </select>
        <button type="submit" class="btn-search">Search</button>
    </form>
    {{#if volcanos}}
        <div class="search-result">
                <div class="search-list">
                    {{#each volcanos}}
                        <div class="volcano">
                            <div class="volcano-img">
                                <img src="{{image}}">
                            </div>
                            <div class="volcano-info">
                                <h1>{{nameOfTheVolcano}}</h1>
                                <p><span>Location: </span>{{location}}</p>
                                <p><span>Volcano Type: </span>{{typeOfVolcano}}</p>
                            </div>
                            <a href="/volcanos/{{id}}/details" class="btn-details">Details</a>
                        </div>
                    {{/each}}
                </div>
        </div>
    {{else}}
        <div class="no-match">
            <p>No match was found!</p>
        </div>
    {{/if}}
</section>