{{setPageTitle "Details Page"}}

<div class="details-container">
    <div class="details-container-image">
        <img src="{{course.image}}">
    </div>
    <div class="details-container-info">
        <h2>Title: {{course.title}}</h2>
        <h3>Type: {{course.type}}</h3>
        <h3>Certificate: {{course.certificate}}</h3>
        <h3>Price: €{{course.price}}</h3>
        <h3>By: {{course.owner.email}}</h3>
        {{#if signedBy}}
            <h4>Signed By: {{signedBy}}</h4>
        {{else}}
            <h4>Nobody has signed in for this course yet</h4>
        {{/if}}
    </div>
    <div class="details-container-content">
        <p>{{course.details}}</p>
    </div>

    {{#if user}}
        <div class="btn-container">
            {{#if isOwner}}
                <a href="/courses/{{course.id}}/edit">Edit</a>
                <a href="/courses/{{course.id}}/delete">Delete</a>
            {{else}}
                {{#unless signUpList}}
                    <a href="/courses/{{course.id}}/signUp">Sign up</a>
                {{else}}
                    <p class="sign-up">You've already signed up for this course!</p>
                {{/unless}}
            {{/if}}
        </div>
    {{/if}}
</div>