{{setPageTitle "Gallery Page"}}

<section id="gallery">
    <h1>Gallery</h1>
    <article class="gallery-container">

        {{#each publications}}
            <article class="card-info">
                <article class="card-info-image">
                    <img src="{{picture}}" alt="art-image">
                </article>
                <article class="card-info-text">
                    <h2>Title: {{title}}</h2>
                    <h3>Certificate of authenticity: {{certificate}}</h3>
                    <a href="/publications/{{id}}/details" class="details-btn">Details</a>
                </article>
            </article>
        {{else}}
            <article class="no-available-publications">
                <h1>No publications created yet.</h1>
                <a href="/publications/create" class="create-pub">Create publication</a>
            </article>
        {{/each}}
    </article>
</section>