{{setPageTitle "Search"}}

<form class="search" method="get">
    <input type="search" name="email" value="{{email}}" placeholder="Search email...">
    <button type="submit" class="btn-search">
        <!-- Do not forget to change the path to the image -->
        <img src="../../img/search-icon.png" alt="search-icon">
        Search
    </button>
</form>

<section id="search-page">

    <h2>Search result:</h2>
    {{#each ads}}
        <article class="search-page-result">
            <p class="search-page-result-headline">Headline: {{headline}}</p>
            <p class="search-page-result-companyName">Company Name: {{company}}</p>
        </article>
    {{else}}
        <article class="search-page-no-result">
            <p class="search-page-no-result-message">No match found.</p>
        </article>
    {{/each}}
</section>